<apex:component controller="Season_Team_Picker_Controller">

<apex:form >
<apex:pageBlock Title="Positions List">
<apex:pageBlockSection >
<apex:outputPanel >Select Position from the list:</apex:outputPanel>
</apex:pageBlockSection>

<apex:pageBlockSection >
<apex:selectList value="{!clickedPositionValue}">
    <apex:selectOptions value="{!PositionsList}"/>
    <apex:actionSupport event="onclick" rerender="displayPositionValue"/>
</apex:selectList> 
</apex:pageBlockSection>

<!-- Need to repeat what I've done for the list of players again, but this time for the positions. this can then filter down to the player list-->

<apex:pageBlockSection >
<apex:outputpanel id="displayPositionValue">
<apex:outputtext value="Position Chosen: {!clickedPositionValue}"/>
</apex:outputpanel> 
</apex:pageBlockSection>  


<!-- Don't believe this is necessary as the value is being passed by the select list section -->
<apex:pageBlockSection >
<apex:outputPanel >
<apex:commandButton action="{!passClickedFieldValue}" value="Select"/>
</apex:outputPanel>
</apex:pageBlockSection>

</apex:pageBlock>
</apex:form>    
    
</apex:component>